#blocks {
    width: 80%;
    margin: 0 auto;
}

#blocks>div {
    font-family: fantasy;
    border: solid gray 2px;
    background-color: white;
    border-radius: 15px;
    margin-top: 1%;
}

#head {
    text-align: center;
    font-size: 25pt;
    color: orange;
}

body {
    background: rgb(213, 213, 217);
}

#footer {
    text-align: center;
    padding: 0.1%;
    font-size: 11pt;
    color: gray;
}

#footer:hover {
    color: aqua;
}

#main {
    text-align: center;
    padding: 2%;
    font-size: 14pt;
}

#user {
    font-size: 15pt;
    padding: 2%;
    overflow: auto;
}

#result {
    text-align: center;
    font-size: 15pt;
    max-height: 600px;
    overflow: auto;
    padding: 2%;
}

#res {
    text-align: center;
    font-size: 15pt;
    padding: 2%;
}

#resFrame {
    padding: 10px;
}

#graphFrame {
    padding: 10px;
}

#graphFrameInner {
    overflow: auto;
    height: 340px;
    padding: 10px;
}

#graphScroll {
    position: relative;
    height: auto;
}

#graphHeight {
    height: 100%;
}

#graph {
    left: 50%;
    margin-left: -150px;
    padding-right: 10px;
    position: absolute;
    z-index: 1;
}

.js-plotly-plot .plotly, .js-plotly-plot .plotly div {
    margin: 0 auto !important;
}
.js-plotly-plot .plotly .main-svg .draglayer {

}

#area {
    left: 50%;
    margin-left: -150px;
    padding-right: 10px;
    position: absolute;
    z-index: 0;
}

.x {
    margin-right: 10px;
}

.r {
    margin-right: 10px;
}

.error {
    color: red;
}

.info {
    color: #011c17;
    font-size: 12pt;
}

.yes {
    color: chartreuse;
}

.no {
    color: crimson;
}

#normClock {
    border: solid orange 2px;
    background-color: white;
    border-radius: 15px;
    margin: 5px;
}

tr.ui-widget-content.ui-datatable-empty-message {
    display: none;
}

form .glow-on-hover {
    border: none;
    outline: none;
    color: #fff;
    background: #949191;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

form .glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #f89e37, #f8bb37, #f8f537, #f8bb37, #f89e37, #ff7300, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

form .glow-on-hover:active {
    color: #949191
}

form .glow-on-hover:active:after {
    background: transparent;
}

form .glow-on-hover:hover:before {
    opacity: 1;
}

form .glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #949191;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.ui-slider .ui-slider-range{
    background: orange !important;
}
.ui-slider .ui-slider-handle {
    border: 2px solid orange !important;
}

.ui-slider .ui-slider-handle.ui-state-hover {
    border-color: orange !important;
    background: orange !important;
}

.ui-radiobutton .ui-radiobutton-box.ui-state-active {
    border-color: orange !important;
    background: orange !important;
}

.ui-radiobutton .ui-radiobutton-box.ui-state-hover {
    border-color: orange !important;
}

.ui-inputfield.ui-state-hover {
    border-color: orange !important;
}

.ui-inputfield.ui-state-focus {
    border-color: orange !important;
    box-shadow: 0 0 0 0.2em rgba(255, 165, 0, 0.38) !important;
}

.ui-radiobutton .ui-radiobutton-box.ui-state-focus {
    border-color: orange !important;
    box-shadow: 0 0 0 0.2em rgba(255, 165, 0, 0.38) !important;
}

.ui-button.ui-state-focus {
    border-color: orange !important;
    box-shadow: 0 0 0 0.2em rgba(255, 165, 0, 0.38) !important;
}